<% unless params[:context_type] == 'listings' %>
  <% back_to_property_imageable = polymorphic_path(
    [ :admin, @property_imageable ]) %>
<% else %>
  <% back_to_property_imageable = admin_property_listing_path(
    @property_imageable.property, @property_imageable) %>
<% end %>

<h1>Listing property_images</h1>

<table>
  <tr>
    <th>Thumbnail</th>
    <th>Image filename</th>
    <th>Image width</th>
    <th>Image height</th>
    <th>Caption</th>
    <th>Position</th>
    <th>Visible</th>
  </tr>

<% @property_images.each do |property_image| %>
  <tr>
    <td>
      <%= image_tag(
        thumb_images_property_image_path(property_image, :format => :jpg)
      ) %></td>
    <td><%=h property_image.image_filename %></td>
    <td><%=h property_image.image_width %></td>
    <td><%=h property_image.image_height %></td>
    <td><%=h property_image.caption %></td>
    <td><%=h property_image.position %></td>
    <td><%=h property_image.visible %></td>
    <td><%= link_to 'Show', property_image_path(property_image),
      :target => :_blank %></td>
    <td><%= link_to 'Edit', edit_polymorphic_path(      
      [:admin, @property_imageable, property_image]) %></td>
    <td><%= link_to 'Destroy', polymorphic_path(
      [:admin, @property_imageable, property_image]),
      :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New image', new_polymorphic_path(
  [:admin, @property_imageable, :property_image]) %> |
<%= link_to 'Back', back_to_property_imageable %>

