<% form_for( [ :admin, @agency_relationship ] ) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :agency_id %><br />
    <%= f.text_field :agency_id %>
  </p>
  <p>
    <%= f.label :partner_id %><br />
    <%= f.text_field :partner_id %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
