<h1>Listing barrios</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Market</th>
    <th>Canton</th>
    <th>Position</th>
    <th>Cached Slug</th>
  </tr>

<% @barrios.each do |barrio| %>
  <tr>
    <td><%=h barrio.name %></td>
    <td><%=h barrio.country.name %></td>
    <td><%=h barrio.market.name %></td>
    <td><%=h barrio.canton.name %></td>
    <td><%=h barrio.position %></td>
    <td><%=h barrio.cached_slug %></td>
    <td><%= link_to 'Show',
      admin_canton_barrio_path(@canton, barrio) %></td>
    <td><%= link_to 'Edit',
      edit_admin_canton_barrio_path(@canton, barrio) %></td>
    <td><%= link_to 'Destroy',
      admin_canton_barrio_path(@canton, barrio),
      :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New barrio', new_admin_canton_barrio_path(@canton) %>
