<h1>Listing agents</h1>

<table>
  <tr>
    <th>User id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Login</th>
    <th>Mini biography</th>
    <th>Primary Agency</th>
  </tr>

<% @agents.each do |agent| %>
  <tr>
    <td><%=h agent.user_id %></td>
    <td><%=h agent.user.first_name %></td>
    <td><%=h agent.user.last_name %></td>
    <td><%=h agent.user.email %></td>
    <td><%=h agent.user.login %></td>
    <td><%=h agent.mini_biography %></td>
    <td><%=h agent.agencies[0].name %></td>
    <td><%= link_to 'Show', contextual_path(agent) %></td>
    <td><%= link_to 'Edit', edit_contextual_path(agent) %></td>
    <td><%= link_to 'Destroy', contextual_path(agent),
      :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New agent', new_contextual_path %>
<br />
<% unless params['context_type'].blank? %>
  <%= link_to 'Back to agency', context_member_path %>
<% end %>
