<h1>Listing styles</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>User defined</th>
    <th>Position</th>
  </tr>

<% @styles.each do |style| %>
  <tr>
    <td><%=h style.type %></td>
    <td><%=h style.name %></td>
    <td><%=h style.user_defined %></td>
    <td><%=h style.position %></td>
    <td><%= link_to 'Show', admin_style_path(style) %></td>
    <td><%= link_to 'Edit', edit_admin_style_path(style) %></td>
    <td><%= link_to 'Destroy', admin_style_path(style),
      :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New style', new_admin_style_path %>
