<%
# Load data into select fields and select corresponding options
setup_listing_select_fields
%>

<%
# AJAX for updating fields related to listing type
spinner_id = 'select_listing_type_spinner'
if @listing.new_record?
  form_name = 'new_listing'
else
  form_name = 'edit_listing_' + @listing.id.to_s
end

js_checked_listing_type_id = "$RF('" + form_name + "','listing[listing_type_id]')"
js_selected_primary_category_id = "$('listing_primary_category_id').value"
js_selected_primary_style_id = "$('listing_primary_style_id').value"
js_category_ids = "inputs_to_ids('category_list')"
js_style_ids = "inputs_to_ids('style_list')"
js_feature_ids = "inputs_to_ids('feature_list')"
js_with = "'listing_type_id=' + encodeURIComponent(" +
  js_checked_listing_type_id + ")" +
  " + '&primary_category_id=' + encodeURIComponent(" +
    js_selected_primary_category_id + ")" +
  " + '&primary_style_id=' + encodeURIComponent(" +
    js_selected_primary_style_id + ")" +
  " + '&category_ids=' + encodeURIComponent(" + js_category_ids + ")" +
  " + '&style_ids=' + encodeURIComponent(" + js_style_ids + ")" +
  " + '&feature_ids=' + encodeURIComponent(" + js_feature_ids + ")"
unless @listing.new_record?
  js_with += " + '&listing_id=' + encodeURIComponent(" +
    @listing.id.to_s + ")"
end
onchange_listing_type = remote_function(
  :url => { :action => :listing_type_pivot },
  :method => :get,
  :with => js_with,
  :before => "Element.show('" + spinner_id + "')",
  :complete => "Element.hide('" + spinner_id + "')",
  :update => 'listing_type_pivot_js'
)
%>

<!-- Placeholder for JavaScript returned from AJAX call "listing_type_pivot" -->
<div id="listing_type_pivot_js">
</div>

<div class="row">
  <%= f.label 'Listing type' %>
  <%= f.radio_button :listing_type_id,
    @lists[:listing_types][0][1],
    { :label => @lists[:listing_types][0][0],
      :onchange => onchange_listing_type
    } %>
  <%= f.radio_button :listing_type_id,
    @lists[:listing_types][1][1],
    { :label => @lists[:listing_types][1][0],
      :onchange => onchange_listing_type
    } %>
  <%= spinner(spinner_id) %>
</div>

<div class="row">
  <%= f.text_field :label,
    :label_text => 'Label (short description identifying this listing, i.e. "for rent")' %>
</div>

<div class="row clearfix">
  <div class="inline_form_element">
    <%= f.check_box :approved %>
  </div>
  <div class="inline_form_element">
    <%= f.check_box :show_agency %>
  </div>
  <div class="inline_form_element">
    <%= f.check_box :show_agent %>
  </div>
</div>

<div class="row">
  <%= f.text_field :ask_amount %>
</div>

<div class="row">
  <%= f.select :ask_currency_id, @lists[:currencies] %>
</div>

<div style="display: none" id="sale_fields">
  <div class="row">
    <%= f.check_box :sold %>
  </div>
  <div class="row">
    <%= f.text_field :close_amount %>
  </div>
  <div class="row">
    <%= f.select :close_currency_id, @lists[:currencies] %>
  </div>
</div>

<div class="row">
  <%= f.date_select :publish_date %>
</div>

<div class="row">
  <%= f.date_select :listing_expiration_date %>
</div>

<div class="row">
  <%= f.date_select :contract_expiration_date %>
</div>

<div class="row">
  <%= f.text_area :admin_notes %>
</div>

<div class="row show-more">
  <%= image_tag 'right_arrow_black.png' %> <span>show override fields</span>
</div>

<h3>Override Property Data</h3>
<strong>NOTE: The data in the following fields will supersede data from this 
listing's <%= link_to 'property record', admin_property_path(@property),
  :target => :_blank %>.</strong>

<div class="row">
  <%= f.text_field :name %>
</div>

<div class="row">
  <%= f.text_area :description %>
</div>

<div class="row">
  <%= f.date_select :date_available %>
</div>

<div id="primary_category_select" class="row">
  <%= f.select :primary_category_id,
    @lists[:categories].dup.unshift(['None', '']),
    { :label_text => 'Primary category' } %>
</div>

<div id="primary_style_select" class="row">
  <%= f.select :primary_style_id,
    @lists[:styles].dup.unshift(['None', '']),
    { :label_text => 'Primary style' } %>
</div>

<div id="category_list" class="row">
  <%= multiple_select_html('listing', 'category',
    @lists[:categories],
    [],
    { :label => 'Other categories', :empty => 'No categories found' }
  ) %>
</div>

<div id="style_list" class="row">
  <%= multiple_select_html('listing', 'style',
    @lists[:styles],
    [],
    { :label => 'Other styles', :empty => 'No styles found' }
  ) %>
</div>

<div id="feature_list" class="row">
  <%= multiple_select_html('listing', 'feature',
    @lists[:features],
    [],
    { :label => 'Other features', :empty => 'No features found' }
  ) %>
</div>
