<h1>Editing listing for <%= @listing.property.name %></h1>

<%= render :partial => 'form' %>

<%= link_to 'Back to listing',
  admin_property_listing_path(@listing.property, @listing) %> | 
<%= link_to 'Back to property',
  admin_agency_property_path(@listing.property.agency, @listing.property) %>
  
<% content_for :extra_javascript_includes do %>
  <%= javascript_include_tag 'listings_edit.js' %>
<% end %>
