<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Hello <%= @information_request[:recipient_name] %>, you have received a
    <%= type_of_request %> from <%= from_name %>.<br />
    <br />
    
    <strong>Recipient:</strong><br />
    Recipient name: <%= @information_request[:recipient_name] %><br />
    Recipient email: <%= @information_request[:recipient_email] %><br />
    <% if associated_agency %>
      Agency: <%= associated_agency[:name] %><br />
    <% end %>
    <% if @information_request.listing %>
      Listing: <%= @information_request.listing[:name] %><br />
    <% end %>
    <br />
    
    <strong>Sender:</strong><br />
    <% if @information_request.user %>
      User id: <%= @information_request.user[:id] %><br />
      Name: <%= (@information_request.user[:first_name] + ' ' +
        @information_request.user[:last_name]).strip %><br />
      User email: <%= @information_request.user[:email] %><br />
      User home phone: <%= @information_request.user[:phone_home] %><br />
      User work phone: <%= @information_request.user[:phone_work] %><br />
      User mobile phone: <%= @information_request.user[:phone_mobile] %><br />
    <% end %>
    Sender name: <%= @information_request[:name] %><br />
    Sender email: <%= @information_request[:email] %><br />
    Sender phone: <%= @information_request[:phone] %><br />
    <br />
    
    <% if @information_request.listing %>
      <strong>Listing:</strong><br />
      Listing reference id: <%= @information_request.listing[:id] %><br />
      Listing name: <%= @information_request.listing[:name] %><br />
      Listing type: <%= @information_request.listing.listing_type[:name] %><br />
      Listing location:
        <%= @information_request.listing.property.barrio.country[:name] %>,
        <%= @information_request.listing.property.barrio.market[:name] %>,
        <%= @information_request.listing.property.barrio[:name] %><br />
      <br />
    <% end %>
    
    <strong>Message</strong><br />
    <%= @information_request[:message] %><br />
    <br />
    <br />    
  </body>
</html>

