<h1>Listing market_segment_images</h1>

<table>
  <tr>
    <th>Thumbnail</th>
    <th>Image filename</th>
    <th>Image width</th>
    <th>Image height</th>
    <th>Caption</th>
    <th>Position</th>
    <th>Visible</th>
  </tr>

<% @market_segment_images.each do |market_segment_image| %>
  <tr>
    <td>
      <%= image_tag(
        thumb_images_market_segment_image_path(market_segment_image,
          :format => :jpg),
        :style => 'border: 0'
      ) %></td>
    <td><%=h market_segment_image.image_filename %></td>
    <td><%=h market_segment_image.image_width %></td>
    <td><%=h market_segment_image.image_height %></td>
    <td><%=h market_segment_image.caption %></td>
    <td><%=h market_segment_image.position %></td>
    <td><%=h market_segment_image.visible %></td>
    <td><%= link_to 'Show',
      images_market_segment_image_path( market_segment_image, :format => :jpg ),
      :target => :_blank %></td>
    <td><%= link_to 'Edit', edit_polymorphic_path(
      [:admin, @market_segment_imageable, market_segment_image]) %></td>
    <td><%= link_to 'Destroy', polymorphic_path(
      [:admin, @market_segment_imageable, market_segment_image]),
      :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New image', new_polymorphic_path(
  [:admin, @market_segment_imageable, :market_segment_image]) %> |
<%= link_to 'Back', polymorphic_path([:admin, @market_segment_imageable]) %>
