<h1>Editing zone</h1>

<% labelled_form_for(:admin, @zone) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'zone_fields', 
    :locals => {
      :f => f,
      :lists => @lists
    } %>
    
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', contextual_path(@zone) %> |
<%= link_to 'Back', contextual_collection_path %>
