<div id="main_text">

<h2>Welcome to <%= @agency.name %></h2>

<% unless @agency.description.blank? %>
  <p class="agency_description" class="clearfix">
    <%= @agency.description %>
  </p>
<% end %>
<% if @agency.markets %>
  <h3>We specialize in the following markets:</h3>
  <% @agency.markets.each do |market| %>
    <%
    options = listings_options(
      'property_barrio_canton_province_country_name_equals' => market.country.name,
      'property_barrio_market_name_equals' => market.name )
    %>
    <div class="market_snapshot" class="clearfix">
      <% if market.market_images %>
        <% unless market.market_images.empty? %>
          <%= link_to(
            image_tag(
              thumb_images_market_image_path(market.market_images[0],
                :format => :jpg),
              :class => 'market_thumb',
              :border => 0
            ),
            options
          ) %>
        <% end %>
      <% end %>
      <div class="snapshot_content clearfix">
        <h2><%= link_to(market.name, options) %></h2>
        <p><% unless market.description.blank? %>
          <%= market.description %></p>
        <% end %>
        <% if market.barrios %>
          <p>
            <% barrio_list = [] %>
            <% market.barrios.each do |barrio| %>
              <%
              barrio_list << link_to (barrio.name, listings_options(
                'property_barrio_canton_province_country_name_equals' => market.country.name,
                'property_barrio_market_name_equals' => market.name,
                'property_barrio_name_equals' => barrio.name
              ))
              %>
            <% end %>
            <% unless barrio_list.empty? %>
              <div>Barrios: <%= barrio_list.join(', ') %></div>
            <% end %>
        <% end %>
        <% unless market.news.blank? %>
          <p><strong>Recent news:</strong> <%= market.news %></p>
        <% end %>    
        <div class="snapshot_footer">
          <div><%= link_to(
            'Properties for rent in ' + market.name,
            listings_options(
              'listing_type_name_equals' => 'for rent',
              'property_barrio_canton_province_country_name_equals' => market.country.name,
              'property_barrio_market_name_equals' => market.name
            )
          ) %></div>
          <div><%= link_to(
            'Properties for sale in ' + market.name,
            listings_options(
              'property_barrio_canton_province_country_name_equals' => market.country.name,
              'property_barrio_market_name_equals' => market.name
            )
          ) %></div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
</div>

<% content_for :extra_stylesheet_includes do %>
  <%= stylesheet_link_tag 'agencies_show' %>
  <%= stylesheet_link_tag 'faux_column_right' %>
<% end %>

<% content_for :right_margin do %>
  <div id="right_margin">
    <h2>Popular searches</h2>
    <div class="menu_list">
      <ul id="alternative_listing_filters">
        <li><%= link_to 'Homes under $200,000', listings_options(
          'categories_name_equals' => 'Homes',
          'ask_amount_less_than_or_equal_to' => '200000'
        ) %></li>
        
        <li><%= link_to 'Businesses for sale', listings_options(
          'categories_name_equals' => 'Businesses'
        ) %></li>
      </ul>
    </div>
    <h2>Contact Us</h2>
    <div class="menu_list">
      <ul id="alternative_contact_links">
        <li><%= link_to 'List your property', contact_agency_path(
          @active_agency) %></li>
        <li><%= link_to 'Become a partner agency', contact_agency_path(
          @active_agency) %></li>
        <li><%= link_to 'Other inquiries', contact_agency_path(
          @active_agency) %></li>
      </ul>
    </div>
    <h2>Suggested links</h2>
    <div class="menu_list">
      <ul id="partner_list">
        <li>
          <% link_to 'http://www.costaricatraveler.com/',
            :target => '_blank' do %>
            <%= image_tag 'cr_traveler_cover.jpg', :width => 126,
              :height => 160, :alt => 'Costa Rica Traveler Magazine' %>
          <% end %>
          The best source of information for the traveler
        </li>
        <!--
        <li><%= link_to 'Green Mango Real Estate',
          'http://www.greenmangosa.com/',
          :target => '_blank' %></li>
        <li><%= image_tag '', :width => 100, :height => 75,
          :alt => 'Green Mango Real Estate, Puriscal' %></li>
        <li><%= image_tag '', :width => 100, :height => 75,
          :alt => 'The Eco Embassy' %></li>
        -->
      </ul>
    </div>
  </div>
<% end %>
