<h1>Agency</h1>

<p>
  <b>Name:</b>
  <%=h @agency.name %>
</p>

<p>
  <b>Short name:</b>
  <%=h @agency.short_name %>
</p>

<p>
  <b>Subdomain:</b>
  <%=h @agency.subdomain %>
</p>

<p>
  <b>Domain:</b>
  <%=h @agency.domain %>
</p>

<p>
  <b>Description:</b>
  <%=h @agency.description %>
</p>

<p>
  <b>Broker id:</b>
  <%=h @agency.broker_id %>
</p>

<p>
  <b>Master agency:</b>
  <%=h @agency.master_agency %>
</p>

<p>
  <%= link_to 'Add agent', new_admin_agency_agent_path(@agency) %> |
  <%= link_to 'Add property', new_admin_agency_property_path(@agency) %> |
  <%= link_to 'Add logo', new_admin_agency_agency_logo_path(@agency) %> |
  <%= link_to 'Add image', new_admin_agency_agency_image_path(@agency) %> |
  <%= link_to 'Edit', edit_admin_agency_path(@agency) %> |
  <%= link_to 'Back', admin_agencies_path %>
  <br />
  <%= link_to 'Agents', admin_agency_agents_path(@agency) %> |
  <%= link_to 'Properties', admin_agency_properties_path(@agency) %> |
  <%= link_to 'Logos', admin_agency_agency_logos_path(@agency) %> |
  <%= link_to 'Images', admin_agency_agency_images_path(@agency) %>
  <%= link_to 'Information requests',
    admin_agency_information_requests_path(@agency) %>
</p>
