<% form_for( [ :admin, @currency ] ) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :alphabetic_code %><br />
    <%= f.text_field :alphabetic_code %>
  </p>
  <p>
    <%= f.label :symbol %><br />
    <%= f.text_field :symbol %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
