<p>
  <b>Iso2:</b>
  <%=h @country.iso2 %>
</p>

<p>
  <b>Name:</b>
  <%=h @country.name %>
</p>

<p>
  <b>Position:</b>
  <%=h @country.position %>
</p>


<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %><br />
<br />
<%= link_to 'Markets', country_markets_path(@country) %> |
<%= link_to 'Provinces', country_provinces_path(@country) %> |
<%= link_to 'Zones', country_zones_path(@country) %>
