<div class="clearfix">
  <div style="float: left; clear: left">
    <%= link_to 'Home', root_path, :target => '_blank' %> |
    <%= link_to 'Agencies', admin_agencies_path %> |
    <%= link_to 'Categories', admin_categories_path %> |
    <%= link_to 'Countries', admin_countries_path %> |
    <%= link_to 'Currencies', admin_currencies_path %> |
    <%= link_to 'Features', admin_features_path %> |
    <%= link_to 'Listing types', admin_listing_types_path %> |
    <%= link_to 'Styles', admin_styles_path %> |
    <%= link_to 'Users', admin_users_path %>
  </div>
</div>
