<h1>New agent_affiliation</h1>

<% form_for(:admin, @agent_affiliation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :agent_id %><br />
    <%= f.text_field :agent_id %>
  </p>
  <p>
    <%= f.label :agency_id %><br />
    <%= f.text_field :agency_id %>
  </p>
  <p>
    <%= f.label :primary %><br />
    <%= f.text_field :primary %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', agent_affiliations_path %>
