<h1>Listing users</h1>

<table>
  <tr>
    <th>Icon</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Nationality</th>
    <th>Login</th>
    <th>Email</th>
    <th>Home phone</th>
    <th>Work phone</th>
    <th>Mobile phone</th>
    <th>Fax</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>Referer url</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td>
      <% if user.user_icons[0] %>
        <%= link_to(
          image_tag(
            small_images_user_icon_path( user.user_icons[0], :format => :jpg ),
            :style => 'border: 0'
          ),
          images_user_icon_path( user.user_icons[0] ),
          :target => :image_viewer
        ) %>
      <% end %></td>
    <td><%=h user.first_name %></td>
    <td><%=h user.last_name %></td>
    <td><%=h user.nationality_id %></td>
    <td><%=h user.login %></td>
    <td><%=h user.email %></td>
    <td><%=h user.home_phone %></td>
    <td><%=h user.work_phone %></td>
    <td><%=h user.mobile_phone %></td>
    <td><%=h user.fax %></td>
    <td><%=h user.address_1 %></td>
    <td><%=h user.address_2 %></td>
    <td><%=h user.referer_url %></td>
    <td><%= link_to 'Show', admin_user_path( user ) %></td>
    <td><%= link_to 'Edit', edit_admin_user_path( user ) %></td>
    <td><%= link_to 'Destroy', admin_user_path( user ),
      :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
