<h1>Listing markets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Primary agency</th>
    <th>Position</th>
  </tr>

<% @markets.each do |market| %>
  <tr>
    <td><%=h market.name %></td>
    <td><%=h market.country.name %></td>
    <td><%=h primary_agency(market) %></td>
    <td><%=h market.position %></td>
    <td><%= link_to 'Show', contextual_path(market) %></td>
    <td><%= link_to 'Edit', edit_contextual_path(market) %></td>
    <td><%= link_to 'Destroy', contextual_path(market),
      :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<p>
  <%= link_to 'New market', new_contextual_path %><br />
  <% unless params['context_type'].blank? %>
    <%= link_to 'Back to country', context_member_path %>
  <% end %>
</p>
