<% javascript_tag do %>
  function hideContactContent(parentId) {
    kids = $(parentId).childElements();
    for (i=0; i<kids.length; i++) {
      kids[i].style.display = 'none';
    }
  }
  
  function showContent(id, parentId) {
    layer = $(id);
    if (layer.style.display == 'none') {
      // Throws error
      //Effect.multiple(parentId, Effect.Fade, { duration: 0.25, delay: 0 });
      Effect.Appear(id, { duration: 0.25, delay: 0 });
    } else {
      Effect.Fade(id, { duration: 0.25, delay: 0 });
    }
  }
  
  function undisplayContactContent(event) {
    var contentWrapperId = 'toggleable_contact_info';
    var element = event.element();
    if (element.parentNode.parentNode.id != contentWrapperId) {
      hideContactContent(contentWrapperId);
    }
  }
  
  $('body').observe('click', undisplayContactContent);
<% end %>

<%
# TODO - caching scheme for glider
@featured_glider = @featured_listings = Listing.by_agency(
                                          @active_agency.id).featured
sufficient_agency_images = false
# Prepend agency to collection of listings so that the first group of
# images to appear in the glider are agency images
if @active_agency.agency_images
  if @active_agency.agency_images.length > 2
    splash_name = @active_agency.name
    splash_object = @active_agency
  end
end
unless splash_name
  if @active_agency.market_segment
    if @active_agency.market_segment.market_segment_images
      if @active_agency.market_segment.market_segment_images.length > 2
        splash_name = @active_agency.name
        splash_object = @active_agency.market_segment
      end
    end
  end
end
if splash_name
  #@featured_glider.insert(0, splash_name)
  @featured_glider.insert(0, splash_object)
end
%>
<%
# Set up image glider
options = {
  'type' => 'large',
  'size' => 3,
  #'image_width' => 293,
  'image_width' => 244,
  'image_height' => 170,
  'images_per_object' => 3,
  'image_placeholders' => true
}
# Inline styles need this value to position glider correctly
glider_top_offset = -8
glider_left_offset = 8
%>

<div id="header" class="large_header clearfix">
  <%= render :partial => 'layouts/user_bar' %>
  <div id="logo_area">
    <div id="site_logo">
      <% if @active_agency.agency_logos[0] %>
        <%= active_agency_logo(@active_agency.agency_logos[0]) %>
      <% else %>
        <%= default_logo %>
      <% end %>
    </div>
    <div id="contact_icons" class="clearfix">
      <div class="strip">
      </div>
      <div class="links">
        <div class="first_item item">
          <%= image_tag('web_32.png',
            :onclick => "showContent('contact_web_contents',
            'toggleable_contact_info')") %>
        </div>
        <div class="item">
          <%= image_tag('phone_32.png',
            :onclick => "showContent('contact_phone_contents',
            'toggleable_contact_info')") %>
        </div>
        <div class="item">
          <%= image_tag('mail_32.png',
            :onclick => "showContent('contact_mail_contents',
            'toggleable_contact_info')") %>
        </div>
        <div class="item">
          <%= image_tag('skype_32.png',
            :onclick => "showContent('contact_skype_contents',
            'toggleable_contact_info')") %>
        </div>
        <div id="toggleable_contact_info" class="toggleable_content">        
          <div style="display: none" id="contact_web_contents"
          class="toggleable_content_item">
            <div class="contact_box_t">
            <div class="contact_box_l">
            <div class="contact_box_r">
            <div class="contact_box_b">
            <div class="contact_box_tl">
            <div class="contact_box_tr">
            <div class="contact_box_bl">
            <div class="contact_box_br">
            <div class="contact_box">
              <h3>Contact us via the Web</h3>
              <div><%= link_to('Click here to send us a message' +
                ' using an online form',
                contact_agency_path(@active_agency)) %></div>
              <div>
                <% unless @agency_content[:web_contact_note].blank? %>
                  @agency_content[:web_contact_note]
                <% end %>
              </div>
            </div></div></div></div></div></div></div></div></div>
          </div>
          <div style="display: none" id="contact_phone_contents"
          class="toggleable_content_item">
            <div class="contact_box_t">
            <div class="contact_box_l">
            <div class="contact_box_r">
            <div class="contact_box_b">
            <div class="contact_box_tl">
            <div class="contact_box_tr">
            <div class="contact_box_bl">
            <div class="contact_box_br">
            <div class="contact_box">          
              <h3>Call us now</h3>
              <div>
                <% unless @agency_content[:office_phone_value].blank? %>
                  <div>
                    <%= @agency_content[:office_phone_label] %>
                    <%= @agency_content[:office_phone_value] %>
                  </div>
                <% end %>
                <% unless @agency_content[:mobile_phone_value].blank? %>
                  <div>
                    <%= @agency_content[:mobile_phone_label] %>
                    <%= @agency_content[:mobile_phone_value] %>
                  </div>
                <% end %>
              </div>
              <div>
                <% unless @agency_content[:phone_contact_note].blank? %>
                  <div>
                    <%= @agency_content[:phone_contact_note] %>
                  </div>
                <% end %>
              </div>
            </div></div></div></div></div></div></div></div></div>
          </div>
          <div style="display: none" id="contact_mail_contents"
          class="toggleable_content_item">
            <div class="contact_box_t">
            <div class="contact_box_l">
            <div class="contact_box_r">
            <div class="contact_box_b">
            <div class="contact_box_tl">
            <div class="contact_box_tr">
            <div class="contact_box_bl">
            <div class="contact_box_br">
            <div class="contact_box">
              <h3>Contact us by email</h3>
              <%
              unless @active_agency[:email].blank?
                agency_email = @active_agency[:email]
              else
                if @active_agency.broker
                  agency_email = @active_agency.broker.user.email
                end
              end
              %>
              <div><%= agency_email %></div>
              <div>
                <% unless @agency_content[:email_note].blank? %>
                  <%= @agency_content[:email_note] %>
                <% end %>
              </div>
            </div></div></div></div></div></div></div></div></div>
          </div>
          <%
          skype_account = ''
          unless @active_agency[:skype].blank?
            skype_account = @active_agency[:skype]
          else
            unless @agency_content[:office_phone].blank?
              skype_account = @agency_content[:office_phone]
            else
              unless @agency_content[:mobile_phone].blank?
                skype_account = @agency_content[:mobile_phone]
              end
            end
          end
          %>
          <div style="display: none" id="contact_skype_contents"
          class="toggleable_content_item">
            <div class="contact_box_t">
            <div class="contact_box_l">
            <div class="contact_box_r">
            <div class="contact_box_b">
            <div class="contact_box_tl">
            <div class="contact_box_tr">
            <div class="contact_box_bl">
            <div class="contact_box_br">
            <div class="contact_box">
              <h3>Skype us!</h3>
              <div>
                <!--
                Skype 'Skype Me™!' button
                http://www.skype.com/go/skypebuttons
                -->
                <%= javascript_include_tag 'skypeCheck.js' %>
                <% link_to 'skype:' + skype_account + '?call' do %>
                  <%= image_tag 'skype_call_34x34.png',
                    :alt => "Skype Me™!",
                    :width => 34,
                    :height => 34,
                    :style=> 'border: none;' %>
                <% end %>
                <!--
                REMOVED: copied JavaScript and image to local and ruby-ized
                HTML (above)
                <script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
                <a href="skype:barrioearth?call"><img src="http://download.skype.com/share/skypebuttons/buttons/call_blue_transparent_34x34.png" style="border: none;" width="34" height="34" alt="Skype Me™!" /></a>
                -->
                <br/>
                Click the icon above to call <%= @active_agency.short_name %>
                via Skype</div>
              <div></div>
            </div></div></div></div></div></div></div></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main_panel" style="height: <%= (options['image_height'] +
  glider_top_offset).to_s %>px">
    <div id="feature_glider" style="top: <%= glider_top_offset.to_s %>px;
    left: <%= glider_left_offset.to_s %>px;">
      <%= glider_js('featuredImages', @featured_glider, options) %>
      <%= glider_html('featuredImages', @featured_glider, options) %>
    </div>
  </div>
</div>

