<% content_for :active_agency_for_sale_links do %>
  <%
  case @active_agency.short_name
    when 'Heredia'
      %>
      <li><%= link_to 'Homes in Heredia', listings_options(
        CATEGORIES_EQUALS_ANY => 'homes',
        LISTING_TYPE_EQUALS => 'for-sale',
        MARKET_EQUALS => 'heredia') %></li>
      <%
    when 'Jacó Beach'
      %>
      <li><%= link_to 'Homes in Jacó Beach', listings_options(
        CATEGORIES_EQUALS_ANY => 'homes',
        LISTING_TYPE_EQUALS => 'for-sale',
        MARKET_EQUALS => 'heredia') %></li>
      <%
    when 'Dominical'
      %>
      <li><%= link_to 'Tin Shacks in Dominical', listings_options(
        CATEGORIES_EQUALS_ANY => 'tin-shacks',
        LISTING_TYPE_EQUALS => 'for-sale',
        MARKET_EQUALS => 'dominical') %></li>
      <%
  end
  %>
<% end %>

<div id="site_nav">
  <!-- TODO: create utility to manage agency-specific links via database -->
  <div class="menu_list">
    <h3>For Sale</h3>
    <ul>
      <li><%= link_to 'All listings', listings_options %></li>
      <%= yield :active_agency_for_sale_links %>
      <li><%= link_to 'Beach Homes', listings_options(
        CATEGORIES_EQUALS_ANY => 'beach-homes') %></li>
      <li><%= link_to 'Mountain Homes', listings_options(
        CATEGORIES_EQUALS_ANY => 'mountain-homes') %></li>
      <li><%= link_to 'Condominiums', listings_options(
        CATEGORIES_EQUALS_ANY => 'condominiums') %></li>
      <li><%= link_to 'Farms & Ranches', listings_options(
        CATEGORIES_EQUALS_ANY => 'farms-ranches') %></li>
      <li><%= link_to 'Residential Lots', listings_options(
        CATEGORIES_EQUALS_ANY => 'residential-lots') %></li>
    </ul>
  </div>
  <div class="menu_list">
    <h3>For Rent</h3>
    <ul>
      <li><%= link_to 'All listings', listings_options(
        LISTING_TYPE_EQUALS => 'for-rent') %></li>
      <li><%= link_to 'Houses', listings_options(
        CATEGORIES_EQUALS_ANY => 'homes',
          LISTING_TYPE_EQUALS => 'for-rent') %></li>
      <li><%= link_to 'Apartments', listings_options(
        CATEGORIES_EQUALS_ANY => 'apartments',
        LISTING_TYPE_EQUALS => 'for-rent') %></li>
    </ul>
  </div>
  <%
  unless @active_agency.master_agency
    partner_agencies_heading = 'Partner agencies'
    partner_agencies = @active_agency.partner_agencies.reject {
      |agency| agency.id == @active_agency.id }
  else
    partner_agencies_heading = 'Agencies'
    partner_agencies = all_agencies.reject {
      |agency| agency.id == @active_agency.id }
  end
  %>
  <% unless partner_agencies.empty? %>
    <div class="menu_list">
      <h3><%= partner_agencies_heading %></h3>
      <ul>
        <% partner_agencies.each do |agency| %>
          <%
          next if agency.id == @active_agency.id
          agency_host = [ agency.subdomain,
            domain_with_environment(agency.domain)
          ].reject {
            |x| x.blank? }.join('.')
          agency_options = { :host => agency_host }
          unless request.port == 80
            agency_options.merge!( :port => request.port )
          end
          %>
          <li><%= link_to agency.short_name.titleize +
            ' Listings<div class="after_icon"></div>',
            root_url(agency_options),
            :target => :_blank,
            :class => :external_link
          %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="menu_list">
    <h3>Other Links</h3>
    <ul>
      <!--<li><%= link_to 'Contact us',
        contact_agency_path(@active_agency) %></li>-->
      <li><%= link_to 'Contact us', '/contact' %></li>
      <% if @active_agency.country %>
        <li><%= link_to @active_agency.country.name +
          " Real Estate Buyer's Guide",
          country_path(@active_agency.country) %></li>
      <% end %>
      <!--<li><%= link_to 'Useful links',
        links_agency_path(@active_agency) %></li>-->
      <li><%= link_to 'Useful links', '/links' %></li>
    </ul>
  </div>
</div>
