<div id="site_nav">
  <% 
  # TODO: create utility to manage links via database instead of having a
  # separate include file for each agency
  %>
  <%
  if @active_agency.subdomain
    subdomain_filename_part = '.' + @active_agency.subdomain
  else
    subdomain_filename_part = ''
  end
  partial_name = 'site_nav' + subdomain_filename_part + '.' +
    @active_agency.domain
  filename = RAILS_ROOT + '/app/views/layouts/' +
    '_' + partial_name + '.html.erb'
  %>
  <% file_missing = true %>
  <% if File.exists?(filename) %>
    <%= render :partial => 'layouts/' + partial_name %>
  <% else %>
    <div class="menu_list">
      <h3>For Sale</h3>
      <ul>
        <li><%= link_to 'All listings', better_listings_path %></li>
        <li><%= link_to 'Beach Homes', readable_listings_path(
          {
            'categories_name_equals' => 'Homes',
            'listing_type_name_equals' => 'for sale',
            'features_name_equals_any' => 'Beach Home'
          }.merge(agency_country_searchlogic_params)
        ) %></li>
        <li><%= link_to 'Mountain Homes', readable_listings_path(
          {
            'categories_name_equals' => 'Homes',
            'listing_type_name_equals' => 'for sale',
            'features_name_equals_any' => 'Mountain Home'
          }.merge(agency_country_searchlogic_params)
        ) %></li>
        <li><%= link_to 'Condos', readable_listings_path(
          {
            'categories_name_equals' => 'Condos',
            'listing_type_name_equals' => 'for sale'
          }.merge(agency_country_searchlogic_params)
        ) %></li>
        <li><%= link_to 'Farms & Ranches', readable_listings_path(
          {
            'categories_name_equals' => 'Farms',
            'listing_type_name_equals' => 'for sale'
          }.merge(agency_country_searchlogic_params)
        ) %></li>
        <li><%= link_to 'Lots', readable_listings_path(
          {
            'categories_name_equals' => 'Lots',
            'listing_type_name_equals' => 'for sale'
          }.merge(agency_country_searchlogic_params)
        ) %></li>
      </ul>
    </div>
    <div class="menu_list">
      <h3>For Rent</h3>
      <ul>
        <li><%= link_to 'All listings', readable_listings_path(
          {
            'listing_type_name_equals' => 'for rent'
          }.merge(agency_country_searchlogic_params)
        ) %></li>
        <li><%= link_to 'Houses', readable_listings_path(
          {
            'categories_name_equals' => 'Homes',
            'listing_type_name_equals' => 'for rent'
          }.merge(agency_country_searchlogic_params)
        ) %></li>
        <li><%= link_to 'Apartments', readable_listings_path(
          {
            'categories_name_equals' => 'Apartments',
            'listing_type_name_equals' => 'for rent'
          }.merge(agency_country_searchlogic_params)
        ) %></li>
      </ul>
    </div>
  <% end %>
  <div class="menu_list">
    <% unless @active_agency.master_agency %>
      <% agencies = @active_agency.partner_agencies %>
      <h3>Partner agencies</h3>
    <% else %>
      <% agencies = all_agencies %>
      <h3>Agencies</h3>
    <% end %>
    <ul>
      <% agencies.each do |agency| %>
        <%
        agency_host = [ agency.subdomain,
          domain_with_environment(agency.domain)
        ].reject {
          |x| x.nil? }.join('.')
        agency_options = { :host => agency_host }
        agency_options.merge!( :port => request.port ) unless request.port == 80
        %>
        <li><%= link_to agency.short_name.titleize +
          ' Listings<div class="after_icon"></div>',
          root_url(agency_options),
          :target => :_blank,
          :class => :external_link
        %></li>
      <% end %>
    </ul>
  </div>
  <div class="menu_list">
    <h3>Other Links</h3>
    <ul>
      <!--<li><%= link_to 'Contact us', contact_agency_path(@active_agency) %></li>-->
      <li><%= link_to 'Contact us', '/contact' %></li>
      <li><%= link_to @active_agency.country.name + " Real Estate Buyer's Guide",
        country_path(@active_agency.country) %></li>
      <!--<li><%= link_to 'Useful links', links_agency_path(@active_agency) %></li>-->
      <li><%= link_to 'Useful links', '/links' %></li>
    </ul>
  </div>
</div>
