<div class="menu_list">
  <h3>For Sale</h3>
  <ul>
    <li><%= link_to 'All listings', readable_listings_path(
      {
        'listing_type_name_equals' => 'for sale'
      }.merge(agency_country_searchlogic_params)
    ) %></li>
    <li><%= link_to 'Homes in Jacó Beach', readable_listings_path(
      { 'categories_name_equals' => 'Homes',
        'listing_type_name_equals' => 'for sale',
        'property_barrio_market_name_equals' => 'Jacó Beach'
      }.merge(agency_country_searchlogic_params)
    ) %></li>
    <li><%= link_to 'Condos', readable_listings_path(
      {
        'categories_name_equals' => 'Condos',
        'listing_type_name_equals' => 'for sale'
      }.merge(agency_country_searchlogic_params)
    ) %></li>
    <li><%= link_to 'Farms & Ranches', readable_listings_path(
      {
        'categories_name_equals' => 'Farms',
        'listing_type_name_equals' => 'for sale'
      }.merge(agency_country_searchlogic_params)
    ) %></li>
    <li><%= link_to 'Lots', readable_listings_path(
      {
        'categories_name_equals' => 'Lots',
        'listing_type_name_equals' => 'for sale'
      }.merge(agency_country_searchlogic_params)
    ) %></li>
  </ul>
</div>
<div class="menu_list">
  <h3>For Rent</h3>
  <ul>
    <li><%= link_to 'All listings', readable_listings_path(
      {
        'listing_type_name_equals' => 'for rent'
      }.merge(agency_country_searchlogic_params)
    ) %></li>
    <li><%= link_to 'Houses', readable_listings_path(
      {
        'categories_name_equals' => 'Homes',
        'listing_type_name_equals' => 'for rent'
      }.merge(agency_country_searchlogic_params)
    ) %></li>
    <li><%= link_to 'Apartments', readable_listings_path(
      {
        'categories_name_equals' => 'Apartments',
        'listing_type_name_equals' => 'for rent'
      }.merge(agency_country_searchlogic_params)
    ) %></li>
  </ul>
</div>
