<% content_for :header do %>  
  <%= render :partial => "layouts/header_large" %>
<% end %>

<% content_for :content do %>

  <%= yield :right_margin %>
  
  <div id="main_window">
    <% unless flash[:notice].blank? %>
      <p style="color: green"><%= flash[:notice] %></p>
    <% end %>
    
    <%= yield(:agencies_content) or yield  %>
  </div>
<% end %>

<%= render :file => 'layouts/application' %>
