<% form_for( [ :admin, @agency_jurisdiction ] ) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :agency_id %><br />
    <%= f.text_field :agency_id %>
  </p>
  <p>
    <%= f.label :market_id %><br />
    <%= f.text_field :market_id %>
  </p>
  <p>
    <%= f.label :primary %><br />
    <%= f.text_field :primary %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
