<h1>New agency_jurisdiction</h1>

<% form_for(:admin, @agency_jurisdiction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :agency_id %><br />
    <%= f.text_field :agency_id %>
  </p>
  <p>
    <%= f.label :market_id %><br />
    <%= f.text_field :market_id %>
  </p>
  <p>
    <%= f.label :primary %><br />
    <%= f.text_field :primary %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', agency_jurisdictions_path %>
