<p>
  <b>Agency:</b>
  <%=h @agency_jurisdiction.agency_id %>
</p>

<p>
  <b>Market:</b>
  <%=h @agency_jurisdiction.market_id %>
</p>

<p>
  <b>Primary:</b>
  <%=h @agency_jurisdiction.primary %>
</p>


<%= link_to 'Edit', edit_agency_jurisdiction_path(@agency_jurisdiction) %> |
<%= link_to 'Back', agency_jurisdictions_path %>